.container {
  width: 80%;
  margin: auto;
}

.title {
  text-align: center;
  color: #370F38;
}

h2 {
  text-align: center;
}

p {
  text-align: justify;
}

.post-list a {
  margin-left: 20px;
}

.post-list ul {
}

.posts {
}

.post-title {
  text-align: center;
  
}

.site-title {
}

.post-list li {
  list-style: none;
}

.entry-date {
  text-align: center;
  text-size: small;
}
