.container {
  width: 80%;
  margin: auto;
}

.title {
  text-align: center;
  color: #797171;
}

.post-list a {
  margin-left: 20px;
}

.post-list ul {
}

.posts {
}

.post-title {
  text-align: center;
  
}

.site-title {
}

a {
  text-decoration: none;
  color: #29C79D;  
}

.post-list li {
  list-style: none;
}
